{% load static %}
{% block extra_head%}

{% endblock%}
<!--Footer-->
    <footer class="page-footer font-medium light mt-4 wow fadeIn" id="myfooter">
        <br class="my-3">

        <!-- Social icons -->
        <div class="footer text-center py-3">
        <a href="https://www.facebook.com/" target="_blank">
            <i class="fab fa-facebook-f mr-3"></i>
        </a>

        <a href="https://twitter.com/" target="_blank">
            <i class="fab fa-twitter mr-3"></i>
        </a>

        </div>
        <!-- Social icons -->

        <!--Copyright-->
        <div class="footer-copyright text-center py-3">
        © 2019 Copyright:
        <a href="{% url 'home'%}" > ShopCygen </a>
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->